.link{
    color: rgb(26, 113, 210);
    font-size: 22px;
    line-height: 1.3;

    transition: color 0.2s ease-in;

    /* Tablet big*/
    @media (max-width: 1199px) {
        font-size: 18px;
    }

    /* Tablet small*/
    @media (max-width: 899px) {
        font-size: 16px;
    }

    &:hover{
        color: rgb(255, 84, 62);
    }
}